In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

You must use Pandas to answer the following questions:
* How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (`race` column)
* What is the average age of men?
* What is the percentage of people who have a Bachelor's degree?
* What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
* What percentage of people without advanced education make more than 50K?
* What is the minimum number of hours a person works per week?
* What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
* What country has the highest percentage of people that earn >50K and what is that percentage?
* Identify the most popular occupation for those who earn >50K in India. 

Use the starter code in the file `demographic_data_analyzer`. Update the code so all variables set to "None" are set to the appropriate calculation or code. Round all decimals to the nearest tenth.

#### Question 1:
Number of people of each race

In [3]:
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

#### Question 2:
Average age of men

In [4]:
df.groupby('sex').mean()['age']

sex
Female    36.858230
Male      39.433547
Name: age, dtype: float64

#### Question 3:
Percentage of people who have a Bachelor's degree

In [5]:
bachelors = df['education'].value_counts().loc['Bachelors']
total = df['education'].value_counts().sum()

In [6]:
bachelor_percentage = ((bachelors/total)*100)
bachelor_percentage

16.44605509658794

#### Question 4:
Percentage of people who have higher education who make more than 50k salary

In [7]:
# People with education earning above 50K
rich_education = df[df['salary'] == '>50K']['education'].value_counts()
rich_education

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

In [8]:
# Number of people with higher education

higher_education = df['education'].value_counts().loc[['Bachelors','Masters','Doctorate']].sum()
higher_education

7491

In [9]:
rich_education.loc[['Bachelors','Masters','Doctorate']]

Bachelors    2221
Masters       959
Doctorate     306
Name: education, dtype: int64

In [10]:
higher_education_rich = rich_education.loc[['Bachelors','Masters','Doctorate']].sum()

# Percentage of people who have higher education who make more than 50k salary

round((higher_education_rich/higher_education)*100,1)

46.5

#### Question 5:
Percentage of people who have do not have higher education who make more than 50k salary

In [11]:
# Number of people without higher education  
lower_education = df['education'].value_counts().drop(['Bachelors','Masters','Doctorate']).sum()
lower_education

25070

In [12]:
lower_education_rich = rich_education.drop(['Bachelors','Masters','Doctorate']).sum()

# Percentage of people without advanced education make more than 50K salary

round((lower_education_rich/lower_education)*100,1)

17.4

#### Question 6:
Minimum number of hours a person works per week

In [13]:
df['hours-per-week'].min()

1

#### Question 7:
Percentage of the people who work the minimum number of hours per week and have a salary of more than 50K

In [14]:
num_min_workers = df['hours-per-week'].value_counts().loc[df['hours-per-week'].min()]

# These are alternative ways of getting the values 
# df[df['hours-per-week'] == df['hours-per-week'].min()].count()
# df.groupby('hours-per-week').count().iloc[0]

num_min_workers

20

In [15]:
df[(df['hours-per-week'] == df['hours-per-week'].min()) & (df['salary'] == '>50K')]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
189,58,State-gov,109567,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,1,United-States,>50K
20072,65,?,76043,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,1,United-States,>50K

In [16]:
rich_min_workers = df[(df['hours-per-week'] == df['hours-per-week'].min()) & (df['salary'] == '>50K')].count().loc['salary']
rich_min_workers

2

In [17]:
rich_percentage = (rich_min_workers/num_min_workers)*100
rich_percentage

10.0

#### Question 8:
The country which has the highest percentage of people that earn >50K

In [18]:
highest_country = df[["salary", "native-country"]].groupby("native-country").apply(lambda g: g.loc[g["salary"] == ">50K"].size / g.size * 100)
highest_country

native-country
?                             25.042882
Cambodia                      36.842105
Canada                        32.231405
China                         26.666667
Columbia                       3.389831
Cuba                          26.315789
Dominican-Republic             2.857143
Ecuador                       14.285714
El-Salvador                    8.490566
England                       33.333333
France                        41.379310
Germany                       32.116788
Greece                        27.586207
Guatemala                      4.687500
Haiti                          9.090909
Holand-Netherlands             0.000000
Honduras                       7.692308
Hong                          30.000000
Hungary                       23.076923
India                         40.000000
Iran                          41.860465
Ireland                       20.833333
Italy                         34.246575
Jamaica                       12.345679
Japan                         38.709677
Laos                          11.111111
Mexico                         5.132193
Nicaragua                      5.882353
Outlying-US(Guam-USVI-etc)     0.000000
Peru                           6.451613
Philippines                   30.808081
Poland                        20.000000
Portugal                      10.810811
Puerto-Rico                   10.526316
Scotland                      25.000000
South                         20.000000
Taiwan                        39.215686
Thailand                      16.666667
Trinadad&Tobago               10.526316
United-States                 24.583476
Vietnam                        7.462687
Yugoslavia                    37.500000
dtype: float64

In [19]:
print(highest_country.idxmax(),':',highest_country.max())

Iran : 41.86046511627907

#### Question 9:
Most popular occupation for those who earn >50K in India

In [20]:
df.loc[(df['native-country']== 'India') & (df['salary']== '>50K')]['occupation'].value_counts().idxmax()

'Prof-specialty'